.HeaderGrid
{
    background-color: #EAEAEA;
    color: #7D7D7D;
    font-family: verdana;
    font-size: 10px;
    font-style: normal;
    text-align: center;
    height: 10px;
    font-weight: normal;
}
.tableDefault4
{
    width: 60%;
    height: 30%;
}
        
        
#footer
{
    bottom: 0;
    width: 100%;
    height: 100px;
    zoom: 103%;
}
#Navp
{
    background-color: white !important;
    zoom: 130%;
}
        
#LblHome
{
            
    position: absolute;
    font-family: Segoe UI Light;
    font-size: 20px;
    margin-left: -12%;
}
        
#Cuerpo
{
    display: none;
}

.navbar
{
    margin-bottom: 0;
}